<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6a4a7">  <td>19/11/21 12:27:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogIn.applunge()[pri:0, instance:com.testng.test.LogIn@66d2e7d9]">&gt;&gt;applunge</td> 
<td>&nbsp;</td>  <td>main@226710952</td>   <td></td> </tr>
<tr bgcolor="b6a4a7">  <td>19/11/21 12:27:31</td>   <td>29191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogIn.login()[pri:0, instance:com.testng.test.LogIn@66d2e7d9]">login</td> 
  <td>main@226710952</td>   <td></td> </tr>
<tr bgcolor="b6a4a7">  <td>19/11/21 12:27:40</td>   <td>37426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogIn.applunge()[pri:0, instance:com.testng.test.LogIn@66d2e7d9]">&gt;&gt;applunge</td> 
<td>&nbsp;</td>  <td>main@226710952</td>   <td></td> </tr>
<tr bgcolor="b6a4a7">  <td>19/11/21 12:28:04</td>   <td>62121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogIn.verifyDepartingFromValueSelection()[pri:1, instance:com.testng.test.LogIn@66d2e7d9]">verifyDepartingFromValueSelection</td> 
  <td>main@226710952</td>   <td></td> </tr>
</table>
