<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>mercury</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6a4a7">  <td>19/11/22 01:42:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogIn.applunge()[pri:0, instance:com.testng.test.LogIn@66d2e7d9]">&gt;&gt;applunge</td> 
<td>&nbsp;</td>  <td>main@1582797472</td>   <td></td> </tr>
<tr bgcolor="b6a4a7">  <td>19/11/22 01:43:04</td>   <td>63494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogIn.applunge()[pri:0, instance:com.testng.test.LogIn@66d2e7d9]">&gt;&gt;applunge</td> 
<td>&nbsp;</td>  <td>main@1582797472</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/11/22 01:43:43</td>   <td>102379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFind.applunge()[pri:0, instance:com.testng.test.FlightFind@51efea79]">&gt;&gt;applunge</td> 
<td>&nbsp;</td>  <td>main@1582797472</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/11/22 01:44:23</td>   <td>142934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FlightFind.applunge()[pri:0, instance:com.testng.test.FlightFind@51efea79]">&gt;&gt;applunge</td> 
<td>&nbsp;</td>  <td>main@1582797472</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/11/22 01:44:23</td>   <td>142527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFind.closeApp()[pri:0, instance:com.testng.test.FlightFind@51efea79]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1582797472</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/11/22 01:45:05</td>   <td>184333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FlightFind.closeApp()[pri:0, instance:com.testng.test.FlightFind@51efea79]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1582797472</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/11/22 01:44:53</td>   <td>173149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFind.destination_selection()[pri:1, instance:com.testng.test.FlightFind@51efea79]">destination_selection</td> 
  <td>main@1582797472</td>   <td></td> </tr>
<tr bgcolor="b6a4a7">  <td>19/11/22 01:42:51</td>   <td>50933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogIn.login()[pri:0, instance:com.testng.test.LogIn@66d2e7d9]">login</td> 
  <td>main@1582797472</td>   <td></td> </tr>
<tr bgcolor="b6a4a7">  <td>19/11/22 01:43:32</td>   <td>91225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogIn.verifyDepartingFromValueSelection()[pri:1, instance:com.testng.test.LogIn@66d2e7d9]">verifyDepartingFromValueSelection</td> 
  <td>main@1582797472</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/11/22 01:44:12</td>   <td>131505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightFind.verifyingroundTrip()[pri:0, instance:com.testng.test.FlightFind@51efea79]">verifyingroundTrip</td> 
  <td>main@1582797472</td>   <td></td> </tr>
</table>
